messages.json
contacts.json
conversation_*.json
out.csv
text_time.png
AddressBook-v22.abcdb
gc_rankings.txt
people_i_text_2023.txt
people_text_me_2023.txt
dump_contacts
.venv/
__pycache__/
*.pyc
poetry.lock
.idea/
.vscode/
pyrightconfig.json
.DS_STORE
